
html, body, #root {
  height: 100%;
  overflow: hidden;
  font-family: "Chinese Quote", -apple-system, BlinkMacSystemFont, "Segoe UI", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "Helvetica Neue", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

body {
  margin: 0;
}

/* 框架侧边栏 */
.ant-layout-has-sider{
  height: 100vh;
}

.left{
  float: left;
}

.right{
  float: right;
}

/* 常用字体色 */
.text-gray{
  color: #aaa;
}
